.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5rem
}

.form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: start;
}

.books {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 300px;
}

.book {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 20px;
    border: 1px solid lightgray;
}